<h1>Listing acitivity_items</h1>

<table>
  <thead>
    <tr>
      <th>Activity name</th>
      <th>Activity date</th>
      <th>Starting time</th>
      <th>Ending time</th>
      <th>Activity note</th>
      <th>Activity starred</th>
      <th>Calendar user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acitivity_items.each do |acitivity_item| %>
      <tr>
        <td><%= acitivity_item.activity_name %></td>
        <td><%= acitivity_item.activity_date %></td>
        <td><%= acitivity_item.starting_time %></td>
        <td><%= acitivity_item.ending_time %></td>
        <td><%= acitivity_item.activity_note %></td>
        <td><%= acitivity_item.activity_starred %></td>
        <td><%= acitivity_item.calendar_user_id %></td>
        <td><%= link_to 'Show', acitivity_item %></td>
        <td><%= link_to 'Edit', edit_acitivity_item_path(acitivity_item) %></td>
        <td><%= link_to 'Destroy', acitivity_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acitivity item', new_acitivity_item_path %>
