<p id="notice"><%= notice %></p>

<p>
  <strong>Activity name:</strong>
  <%= @acitivity_item.activity_name %>
</p>

<p>
  <strong>Activity date:</strong>
  <%= @acitivity_item.activity_date %>
</p>

<p>
  <strong>Starting time:</strong>
  <%= @acitivity_item.starting_time %>
</p>

<p>
  <strong>Ending time:</strong>
  <%= @acitivity_item.ending_time %>
</p>

<p>
  <strong>Activity note:</strong>
  <%= @acitivity_item.activity_note %>
</p>

<p>
  <strong>Activity starred:</strong>
  <%= @acitivity_item.activity_starred %>
</p>

<p>
  <strong>Calendar user:</strong>
  <%= @acitivity_item.calendar_user_id %>
</p>

<%= link_to 'Edit', edit_acitivity_item_path(@acitivity_item) %> |
<%= link_to 'Back', acitivity_items_path %>
