<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @task_item.task_name %>
</p>

<p>
  <strong>Task date:</strong>
  <%= @task_item.task_date %>
</p>

<p>
  <strong>Task note:</strong>
  <%= @task_item.task_note %>
</p>

<p>
  <strong>Task starred:</strong>
  <%= @task_item.task_starred %>
</p>

<p>
  <strong>User:</strong>
  <%= @task_item.user_id %>
</p>

<p>
  <strong>Task color:</strong>
  <%= @task_item.task_color %>
</p>

<%= link_to 'Edit', edit_task_item_path(@task_item) %> |
<%= link_to 'Back', task_items_path %>
